<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ nadpis }}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('addtext') }}">
      <textarea id="summernote" name="editordata"></textarea>
      <input type="text" name="title" placeholder="Title to show">
      <input type="text" name="text" placeholder="Text to show">
      <input type="file" name="photo">
      <button type="submit"><a href="{{url_for('article')}}"></a> add article</button>
    </form>
    <script>
      $('#summernote').summernote({
        placeholder: 'Give backspace to move up dont write here title write it in the column below and it will be displayed in article also and last note after image must use any letter even dot (.) is enough',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
  </body>
</html>